<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <article>
            <h1>{{ category}}</h1>
            <hr />
            <p>Created <strong>{{ creation_date }}</strong></p>
            <hr />
            <p>{{ content }}</p>
        </article>
    </body>
</html>