{% extends "layout.jinja2" %}
{% block content %}
    <article>
        <h1>{{ title }}</h1>
        <hr />
        <p><strong>{{ created }}</strong></p>
        <hr />
        <p>{{ text }}</p>
    </article>
{% endblock %}