{% extends "layout.jinja2" %}
{% block content %}
    {% if entries %}
        {% for entry in entries %}
            <article>
                <h2><a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title }}</a></h2>
                <hr />
                <p><strong>{{ entry.created }}</strong></p>
                <p>{{ entry.text }}</p>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}