{% extends "layout.jinja2" %}
{% block content %}
    <article>
        <form method="POST">
            <table>
                <tr>
                    <td><input type="text" name="title" value="{{ entry.title }}" required /></td>
                </tr>
                <tr>
                    <td>
                    <textarea rows="4" cols="50" name="body"  required>{{ entry.body }}</textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Edit Entry" /></td>
                </tr>
            </table>
        </form>
    </article>
{% endblock %}